<!--客户端界面-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>websocket</title>
</head>
<body>
<script type="text/javascript" src="../static/rtspStream.js" th:src="@{../static/rtspStream.js}"></script>
<h2>RTSP + H264 + FMP4 + WebSocket + WEB</h2>
<p>采用的通信库: https://github.com/xingshuangs/iot-communication，当前rtsp版本库未发布，对应git分支为rtsp，需要执行拉去源码然后install</p>
<video id="testVideo" autoplay muted style="height: 80vh; width: 80vw"></video>

<script>
    let rtsp;
    window.onunload = () => {
        if (rtsp) rtsp.close()
    }
    window.onload = () => {
        if (rtsp) rtsp.close()
        const wsUrl = "ws://127.0.0.1:8088/websocket"
        const rtspUrl = "rtsp://admin:kilox1234@192.168.3.142:554/h264/ch1/main/av_stream"
        const videoId = "testVideo"
        rtsp = new RtspStream(wsUrl, rtspUrl, videoId)
        rtsp.open()
    }
</script>

</body>
</html>