<!--客户端界面-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>websocket</title>
</head>
<body>
<script type="text/javascript" src="../static/rtspStream.js" th:src="@{../static/rtspStream.js}"></script>
<h2>RTSP + H264 + FMP4 + WebSocket + MSE + WEB</h2>
<p>采用的通信库: https://github.com/xingshuangs/iot-communication<br>
<div style="margin-bottom: 10px">
    <label for="wsUrlInput">WebSocket的地址：</label>
    <input type="text" id="wsUrlInput" name="rtspUrlInput" value="ws://127.0.0.1:8088/rtsp" style="width: 500px">
</div>
<div style="margin-bottom: 10px">
    <label for="rtspUrlInput">RTSP的地址：</label>
    <input type="text" id="rtspUrlInput" name="rtspUrlInput" value="rtsp://admin:hb123456@192.168.3.251:554/h264/ch1/main/av_stream" style="width: 500px">
    <button id="openBtn" type="button" onclick="rtspOpen()">打开</button>
    <button id="closeBtn" type="button" onclick="rtspClose()">关闭</button>
</div>
<!--<video id="testVideo" autoplay muted style="height: 70vh; width: 80vw"></video>-->
<video id="testVideo" autoplay muted style="height: 70vh; width: 80vw"></video>

<script>
    let rtsp;

    function rtspOpen() {
        if (rtsp) rtsp.close()

        // const rtspUrl = "rtsp://admin:hb123456@192.168.3.251:554/h264/ch1/main/av_stream"
        // const wsUrl = "ws://127.0.0.1:8088/websocket"
        const rtspUrl = document.getElementById("rtspUrlInput").value;
        const wsUrl = document.getElementById("wsUrlInput").value;
        const videoId = "testVideo"
        rtsp = new RtspStream(wsUrl, rtspUrl, videoId)
        rtsp.open()
        console.log("打开", rtspUrl)
    }

    function rtspClose() {
        console.log("关闭")
        if (rtsp) rtsp.close()
    }
</script>

</body>
</html>