<!--客户端界面-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>websocket</title>
</head>
<body>
<script type="text/javascript" src="../static/rtspStream.js" th:src="@{../static/rtspStream.js}"></script>
<h2>RTSP + H264 + FMP4 + WebSocket + MSE + WEB</h2>
<p>采用的通信库: https://github.com/xingshuangs/iot-communication<br>
<div style="margin-bottom: 10px">
    <label for="wsUrlInput">WebSocket的地址：</label>
    <input type="text" id="wsUrlInput" name="rtspUrlInput" value="ws://127.0.0.1:8089/rtsp" style="width: 500px">
    <button type="button" onclick="connect()">连接</button>
    <button type="button" onclick="disconnect()">断开</button>
</div>
<div>
    视频通道选择：
    <select id="channelNameSelect" class="b_select" style="width: 100px">
        <option value="">请选择</option>
        <option th:each="item:${channelNames}" th:value="${item}" th:text="${item}">
        </option>
    </select>
    <button id="btnSubscribe" type="button" onclick="subscribe()" disabled>订阅</button>
</div>
<!--<video id="testVideo" autoplay muted style="height: 70vh; width: 80vw"></video>-->
<video id="testVideo" autoplay muted style="height: 70vh; width: 80vw"></video>


<script>
    let rtsp;

    function connect() {
        if (rtsp) rtsp.close()
        const wsUrl = document.getElementById("wsUrlInput").value;
        const videoId = "testVideo"
        rtsp = new RtspStream(wsUrl, videoId)
        rtsp.open()
        document.getElementById("btnSubscribe").disabled = false;
        console.log("打开", wsUrl)
    }

    function disconnect() {
        if (rtsp) {
            rtsp.close();
            rtsp = null;
        }
        document.getElementById("btnSubscribe").disabled = true;
        console.log("关闭")
    }

    function subscribe() {
        if (!rtsp) {
            alert("请先连接websocket");
            return;
        }
        const value = document.getElementById("channelNameSelect").value;
        if (value === "") {
            alert("请先选择通道");
            return;
        }

        rtsp.subscribe(value);
        console.log("订阅", value)
    }
</script>

</body>
</html>