<!--客户端界面-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>websocket</title>
</head>
<body>
<script type="text/javascript" src="../static/rtspStream.js" th:src="@{../static/rtspStream.js}"></script>
<h2>RTSP + H264 + FMP4 + WebSocket + MSE + WEB</h2>
<p>采用的通信库: https://github.com/xingshuangs/iot-communication<br>
<div style="margin-bottom: 10px">
    <label for="wsUrlInput">WebSocket的地址：</label>
    <input type="text" id="wsUrlInput" name="rtspUrlInput" value="ws://127.0.0.1:8089/rtsp" style="width: 500px">
</div>
<div>
    视频通道选择：
    <select id="channelNameSelect" class="b_select" style="width: 100px" onchange="subscribe()">
        <option value="">请选择</option>
        <option th:each="item:${channelNames}" th:value="${item}" th:text="${item}">
        </option>
    </select>
    <button id="closeBtn1" type="button">订阅</button>
</div>
<!--<video id="testVideo" autoplay muted style="height: 70vh; width: 80vw"></video>-->
<video id="testVideo" autoplay muted style="height: 70vh; width: 80vw"></video>


<script>
    const wsUrl = document.getElementById("wsUrlInput").value;
    const videoId = "testVideo11"
    let rtsp = new RtspStream(wsUrl, videoId)
    rtsp.open()

    function rtspOpen() {
        if (rtsp) rtsp.close()

        // const rtspUrl = "rtsp://admin:hb123456@192.168.3.251:554/h264/ch1/main/av_stream"
        // const wsUrl = "ws://127.0.0.1:8088/websocket"
        // const wsUrl = document.getElementById("wsUrlInput").value;
        // const videoId = "testVideo"
        // rtsp = new RtspStream(wsUrl, rtspUrl, videoId)
        // rtsp.open()
        console.log("打开", rtspUrl)
    }

    function rtspClose() {
        console.log("关闭")
        if (rtsp) rtsp.close()
    }

    function subscribe() {
        const value = document.getElementById("channelNameSelect").value;
        if (value === "请选择") return;
        const data = {};
        data.type = "SUBSCRIBE";
        data.content = value;
        rtsp.send(JSON.stringify(data))
    }
</script>

</body>
</html>